:root {
  /* Colors */
  --color-green-460: #4ba153;
  --color-green-470: #658b6894;
  --color-green-790: #caff96;
  --color-green-190: #1c4327;

  --color-light-green-to-dark-green: linear-gradient(
    124.24deg,
    #caff96 11.46%,
    #00491d 67.19%,
    #000000 100%
  );
}
