:root {
  /* Colors */
  --color-green-190: #1c4327;
  --color-green-460: #4ba153;
  --color-green-470: #658b6894;
  --color-green-790: #caff96;

  --color-light-green-to-dark-green: linear-gradient(
    124.24deg,
    #caff96 11.46%,
    #00491d 67.19%,
    #000000 100%
  );

  /* Base */
  --font-family-primary: "Montserrat";
  --font-weight-base: 700;
  --color-base: var(--color-green-190);
}
