@import "../../sass/index.scss";

.main {
  padding: 0 2.8rem 3rem;
  display: grid;
  gap: 1.5rem;

  @include media-query("md") {
    padding: 0 6rem 3rem;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    @include media-query("xsm") {
      align-items: end;
      flex-direction: row;
      gap: unset;
    }
  }
}

.buttons-container__filter-buttons {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @include media-query("sm") {
    flex-direction: row;
  }
}
